html {background:#222} body {background:#fff; padding:0 2em}
article {padding:1em 0; border-bottom:1px solid #ddd}
h1 {padding:0; margin:0; font-weight:bold; font-size:1.5em}
small {opacity:.5; font-size:1em}
a {text-decoration:none; color:#8b0; border-bottom:1px solid #8b0;}
a:visited {border-color: #eee;} a:hover, a:focus {color:#0ad}
.playing {color:#000}

#header {margin:auto; padding:1em}
#header > a {padding:1em; display:inline-block; border:none; border-bottom: 1px solid #ddd}
#header > a > h1 {font-size:1.5em}
#header > a > span {color:#aaa; font-size:1em}
#menu > li > a {border:0}

.half-float {width:50%; float:left;}

article h1 {font-size:1em;display:inline}
article p {display:inline}
